*.class
*.log
*.prefs
target/*
codecoverage/*
/target/
!src/main/resources/static/tmp/SaveThisDirectory.txt
src/main/resources/static/tmp/*.jpg
src/main/resources/static/tmp/*.jpeg
src/main/resources/static/tmp/*.png
src/main/resources/static/tmp/*.gif
src/matlab/javaclasspath.txt
src/matlab/matlabinstallpath.txt
src/matlab/path.txt
src/matlab/filenames.txt
src/matlab/exclude_points.txt
src/matlab/*_path.jpg
!src/Java7ForMatlab/Pathfinding/*.class
