{{> header}}
<div class="row">
    <h1>Click two points on the map for directions between them.</h1>
    <button id="pick-points-button" onclick="pickPointsMode()" class="selected-button">Pick End Points</button>
    <button id="exclude-points-button" onclick="excludePointsMode()">Exclude Points</button>
    <button onclick="submitData()" class="button-primary">Submit</button>
</div>
<div class="row">
    <button id="reset-pick-points-button" onclick="resetPickPoints()" class="reset-button">Reset End Points</button>
    <button id="reset-exclude-points-button" onclick="resetExcludePoints()" class="reset-button">Reset Exclude Points</button>
</div>
{{#filenames}}
    {{#evenIndex}}
    <div class="row">
    {{/evenIndex}}
        <div class="one-half column">
            <img class="floor" src="{{route}}{{string}}" data-original="{{route}}{{string}}">
            <p>{{string}}</p>
        </div>
    {{^evenIndex}}
    </div>
    {{/evenIndex}}
{{/filenames}}
<div id="point-holder"></div>
<div id="steps-holder"></div>
</div> <!-- Ends container in header.mustache -->
<div id="loading-screen"></div>
<div id="loading-text"><h2>Loading route please wait...</h2></div>
<script type="text/javascript" src="js/route.js"></script>
<div class="container"> <!-- Matches container div in footer.mustache -->
{{> footer}}
