<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>2D Floorplan Navigation</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/stock/normalize.css">
  <link rel="stylesheet" href="css/stock/skeleton.css">
  <link rel="stylesheet" href="css/stock/dragula.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="js/stock/dropzone.js"></script>
  <link rel="stylesheet" href="css/stock/dropzone.css">

</head>
<body>
  <div class="container">