<link rel="stylesheet" href="css/stock/qunit-2.0.1.css">
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<!-- Test Elements -->

<div id="test-div" data-text="This is a test."></div>
<div id="loading-screen"></div>
<div id="loading-text"></div>
<div id="point-holder"></div>

<!-- Test Runner -->

<script src="js/stock/qunit-2.0.1.js"></script>
<script src="js/main.js"></script>
<script src="js/route.js"></script>
<script src="js/test.js"></script>
